
<div class="row feed_box_modal">

  <div class="col-md-2 feed-image-col">
    <div style='background-image: url(<%= "http://res.cloudinary.com/kryx11/image/upload/#{@post.user.image}"%>)', class="thumbBox"></div>
  </div>

  <div class="col-md-10 feed-tweet comment-tweet">
    <h4><%= @user_post.name %> <small class= "feed_time"> <%= "#{time_ago_in_words(@post.created_at)} ago" unless @post.created_at.nil? %></small></h4>

    <p><%= @post.tweet %></p>

    <div class="icons">
      <% if @current_user == @post.user %>
        <%= link_to post_path(:id => @post.id),:method => 'delete', :data => { :confirm => 'Are you sure?'} do%><i class="glyphicon glyphicon-trash" aria-hidden="true"></i><% end %>
      <% end %>
    </div>

  </div>
</div>

<%= form_for [@post, @comment] do |f| %>
  <div class="form-group comment-form">
    <%= f.text_area :message, placeholder: "Comment...", :required => true, :class => "form-control comment-input" %>
  </div>
  <%= f.submit "Comment", :class => 'btn btn-primary comment-button'%>
<% end %>
