
<h3><%= @user_post.name %></h3>
<p><%= "#{time_ago_in_words(@post.created_at)} ago" unless @post.created_at.nil? %></p>
<p><%= @post.tweet %></p>

<% if @current_user.likes.where(:post_id => @post.id).count > 0 %>
    <%= link_to likes_path(:post_id => @post.id), :method => 'delete' do%><i class="glyphicon glyphicon-heart"></i><% end %>
<% else %>
    <%= link_to likes_path(:post_id => @post.id), :method => 'post' do%><i class="glyphicon glyphicon-heart"></i><% end %>
<% end %>

<% if @user == @post.user %>
  <%= link_to "Delete Tweet", post_path(:id => @post.id),:method => 'delete', :data => { :confirm => 'Are you sure?'}  %>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :message, placeholder: "Comment...", :required => true %>
  <%= f.submit "Comment"%>
<% end %>
