
<h3><%= @user_post.name %></h3>
<p><%= "#{time_ago_in_words(@post.created_at)} ago" unless @post.created_at.nil? %></p>
<p><%= @post.tweet %></p>

<p><%= link_to post_likes_path(:post_id => @post.id), :method =>'put' do%><i class="glyphicon glyphicon-heart"></i><% end %> <%= @post.likes unless @post.likes.nil? %></p>

<% if @user == @post.user %>
  <%= link_to "Delete Tweet", post_path(:id => @post.id),:method => 'delete', :data => { :confirm => 'Are you sure?'}  %>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :message, placeholder: "Comment...", :required => true %>
  <%= f.submit "Comment"%>
<% end %>
