<div>
  <ul class="media-list">
    <% @users.each do |user| %>
    <!-- ensures that current_user is not on the list of suggested friends. -->

      <li class="media">
        <div class="media-left">
          <% if user.image == nil %>
            <%= link_to user_path(:id=>user.id), :method=>'get' do%>
              <div style="background-image: url(https://s-media-cache-ak0.pinimg.com/736x/dd/40/40/dd404068bbceda57f0d4a50a4b9b9d92.jpg)", class="thumbBox"></div>
            <% end %>
          <% else %>
            <%= link_to user_path(:id=>user.id), :method=>'get' do%>
                <div style='background-image: url(<%= "http://res.cloudinary.com/kryx11/image/upload/#{user.image}"%>)', class="thumbBox"></div>
            <% end %>
          <% end %>
        </div>

        <div class="media-body">
          <h4 class="media-heading"><%= user.name  %></h4>
          <p><%= user.location  %></p>

          <% if @current_user.following?(user) %>
            <%=form_for(@current_user.active_relationships.find_by(followed_id: user.id), html: { method: :delete }) do |f| %>
              <%= f.submit "Unfollow", class: "btn" %>
            <% end %>
          <% else %>
            <%= form_for(@current_user.active_relationships.new) do |f| %>
              <div><%= hidden_field_tag :followed_id, user.id %></div>
              <%= f.submit "Follow", class: "btn btn-primary" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>
