<h3><%= @user.name %></h3>

<%= cl_image_tag @user.image, :class => "user_info_pic" %>
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>

<%= render :partial => 'users/relationships' %>
