<h3><%= @user.name %></h3>

<img src="<%= @user.image %>" alt="profile_image">
<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.location %></p>

<%= render :partial => 'users/relationships' %>
