<% if @current_user.present? %>
  <div class="row">
    <div class="col-md-4">
      <%=  render :partial => 'users/user_info'%>
    </div>
    <div class="col-md-8">

      <h2>Edit Profile</h2>

      <% if @user.errors.any? %>
        <ol>
          <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ol>
      <% end %>

      <%= form_for(@user, :html => {:multipart => true}) do |f| %>

        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :required => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :required => true, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :location %>
          <%= f.text_field :location, :class => 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.cl_image_upload :image, :class => 'form-control' %>
        </div>

        <%= f.submit :class => 'btn btn-primary'%>

      <% end %>
    </div>
  </div>
<% end %>
