<% if @current_user.present? %>

  <% if @current_user.admin? %>
    <h1>Administration Page</h1>
    <h3>All Users</h3>
    <% @users.each do |user| %>
      <p><%= user.email %></p>
        <ul>
          <li>Name: <%= user.name  %></li>
          <li>Location: <%= user.location %></li>
        </ul>
    <% end %>
  <% end %>


    <% @users.each do |user| %>
      <div class="row">
        <div class="thumbBox">
            <%= link_to cl_image_tag("#{user.image}", :class=>"thumb"), url_for({ :controller => 'users', :action =>'show', :id=>user.id }) %>
        </div>
        <div class="textBox">
          <h3><%= user.name  %></h3>
          <p><%= user.location  %></p>
        </div>
      </div>
    <% end %>

  </div>
<% end %>
