<div class="row">
  <div class="col-xs-1 col-sm-3">
  </div>
  <div class="col-xs-10 col-sm-6 signup-wrapper">

    <img src="https://d13yacurqjgara.cloudfront.net/users/5976/screenshots/3000417/geometric_hippo_hippopotamus_folded_origami_animal_logo_design_icon_by_alex_tass.gif" class="hippo-head">
    <h2 class="main-heading">Join today</h2>

    <% if @user.errors.any? %>
      <ol class="bg-warning">
        <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ol>
    <% end %>

    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.email_field :email, :class => "form-control", :placeholder => "Email", :required => true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :class => "form-control", :placeholder => "Password", :required => true %>
      </div>
      <div class="form-group">
      <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Confirm password"%>
      </div>
      <%= submit_tag 'Sign up', :class => 'btn btn-primary btn100'%>
    <% end %>
  </div>
  <div class="col-xs-1 col-sm-3">
  </div>
</div>
