<% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <p class="bg-warning"><%= msg %></p>
    <% end %>
<% end %>

<div class="post-form-container">
  <%= form_for @post do |f| %>
    <div class="form-group">
      <%= f.label :tweet , :class => "sr-only"%>
      <%= f.text_area :tweet, placeholder: "What's new?", :required => true, :class => "form-control" %>
    </div>
    <%= f.submit "Tweet", :class => 'btn btn-primary'%>
  <% end %>
</div>
