<% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
    <p class="bg-warning"><%= msg %></p>
    <% end %>
<% end %>

<%= form_for @post, :html => { :class => "form-inline" } do |f| %>
  <div class="form-group">
    <%= f.label :tweet , :class => "sr-only"%>
    <%= f.text_area :tweet, placeholder: "What's new?", :required => true, :class => "form-control tweet-input" %>
  </div>
  <%= f.submit "Tweet", :class => 'btn btn-primary'%>

<% end %>
