


<% @user_feed.each do |post| %>
  <h3><%= post.user.name %></h3>
  <p><%= "#{time_ago_in_words(post.created_at)} ago" unless post.created_at.nil? %></p>
  <p><%= post.tweet %></p>

<%= post.likes.count %>

<% if @current_user.likes.where(:post_id => post.id).count > 0 %>
    <%= link_to "Unlike", likes_path(:post_id => post.id), :method => 'delete' %>
<% else %>
    <%= link_to "Like", likes_path(:post_id => post.id), :method => 'post' %>
<% end %>

  <% if @current_user == post.user %>
    <%= link_to "Delete Tweet", post_path(:id => post.id),:method => 'delete', :data => { :confirm => 'Are you sure?'}  %>
  <% end %>


  <%= link_to "Comment (#{post.comments.count})", post_comments_path(post, @comment), data: {toggle: "modal", target: "#myModal"} %>

<% end %>
